<!DOCTYPE html>
<html>
<head>
    <meta charset = "ISO-8859-1" />
    <title>Upload Single File</title>

    <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel="stylesheet"/>
    <link href="css/styles.css" rel="stylesheet"/>
</head>

<body>
<form id="uploadfile" class="upload">
    <div id="drop">
Click here to upload file from computer!
        <input type="file" name="file"/>
    </div>

    <button type="submit" class="btn">Upload File</button>

    <ul id="uploadresult">
    </ul>
</form>

<footer>
    <h2><a href="http://devwithus.com"><i>Tutorial BY </i> azhwani - devwithus.com</a></h2>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="app.js"></script>

</body>
</html>